[Unit]
Description=Looker Action Hub
After=network-online.target

[Service]
ExecStart=path/to/looker/action/hub/node_modules/.bin/ts-node --no-cache path/to/looker/action/hub/src/index.ts
WorkingDirectory=path/to/looker/action/hub
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=looker_hub
User=looker_user
Restart=always

[Install]
WantedBy=multi-user.target
